.jumbotron {
	Background-color: skyblue;
	Color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px
	Background-color: skyblue;
	margin-bottom: 0px;
	margin-top: 10px;

}

.Card-hotel{
	flex: 1 200px;
	padding: 2px 5px 2px 5px;

}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	
}

.Footer-adress-icon{
	padding-right: 10px;
}

.tab-content{
	padding-top: 10px;
}